<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- 콘솔 출력 설정 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%p] %c - %m%n"/>
        </Console>

        <!-- 파일 출력 설정 -->
        <File name="FileLogger" fileName="logs/application.log">
            <PatternLayout pattern="%d [%p] %c - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- 루트 로거 설정 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

        <!-- 특정 패키지 로거 설정 -->
        <Logger name="dev.trend.repository" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>
    </Loggers>
</Configuration>